.div-main-armarKit{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-button-template{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.select-template{
    width: 80%;
}

.div-upload-files{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.div-name-upload-files{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div-button-upload-files{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
