footer{
    background-color: #000000;
    color: white;
    top: 79px;
    position: relative;
}

.logoFooter{
    width: 20px;
}

.gridItemFooter .Typography{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

