.div-main-home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.div-margin-bottom{
    margin-bottom: 20px;
}